table{
  text-align: center;
  text-size-adjust: 16px;
  color: whitesmoke
}
td{
  border: 1px solid whitesmoke;
  text-align: center;
  text-size-adjust: 16px;
}
body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  margin: 0;
}